services:
  auth-api:
    build:
      context: ./auth-api
    container_name: auth-api
    ports:
      - "8080:8080"
    environment:
        POSTGRES_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        JWT_SECRET: ${JWT_SECRET}
        SERVICE_B_URL: ${SERVICE_B_URL}
        INTERNAL_TOKEN: ${INTERNAL_TOKEN}
    depends_on:
      - postgres
      - data-api

  data-api:
    build:
      context: ./data-api
    container_name: data-api
    ports:
      - "8081:8081"
    environment:
      INTERNAL_TOKEN_SERVICE_A: ${INTERNAL_TOKEN}

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: